<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="SC.Hammock.ClientProfile" version="8.2.1" targetFramework="net452" />
  <package id="SC.Newtonsoft.Json" version="8.2.1" targetFramework="net452" />
  <package id="SC.Ninject" version="8.2.1" targetFramework="net452" />
  <package id="SC.Sitecore.Kernel" version="8.2.1" targetFramework="net452" />
  <package id="SC.Sitecore.Social.Infrastructure" version="8.2.1" targetFramework="net452" />
  <package id="SC.Sitecore.Social.NetworkProviders" version="8.2.1" targetFramework="net452" />
  <package id="SC.Sitecore.Social.Twitter" version="8.2.1" targetFramework="net452" />
  <package id="SC.TweetSharp" version="8.2.1" targetFramework="net452" />
</packages>